In [3]:
import pandas as pd

df = pd.read_csv('answerCode.csv')

learner_df = df[['learnerID', 'learnerProfile']] #두 칼럼만 learner_df에 복사

df.drop('learnerProfile', axis=1, inplace=True) #answerCode테이블에서 learnerProfile은 삭제
df.to_csv('answerCode.csv', index=False)

learner_df

          learnerID learnerProfile
0        A010000003        F;S01;1
1        A010000003        F;S01;1
2        A010000003        F;S01;1
3        A010000003        F;S01;1
4        A010000003        F;S01;1
...             ...            ...
1677353  A090000774        F;S01;9
1677354  A090000774        F;S01;9
1677355  A090000774        F;S01;9
1677356  A090000774        F;S01;9
1677357  A090000774        F;S01;9

[1677358 rows x 2 columns]

In [4]:
learner_df[['gender', 'unused', 'grade']] = learner_df['learnerProfile'].str.split(";", expand=True)
learner_df['gender'] = learner_df['gender'].map({'F':0, 'M':1})
learner_df['grade'] = learner_df['grade'].astype(int)
learner_df.drop('unused', axis=1, inplace=True)

/var/folders/v_/ccwz5s7931bf1s6yx_rzlzqm0000gn/T/ipykernel_95349/3980475401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  learner_df[['gender', 'unused', 'grade']] = learner_df['learnerProfile'].str.split(";", expand=True)
/var/folders/v_/ccwz5s7931bf1s6yx_rzlzqm0000gn/T/ipykernel_95349/3980475401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  learner_df[['gender', 'unused', 'grade']] = learner_df['learnerProfile'].str.split(";", expand=True)

In [6]:
learner_df.drop('learnerProfile', axis=1, inplace=True)

In [7]:
learner_df.to_csv('learner.csv', index=False)

In [15]:
middleschool = learner_df[learner_df['grade']>=7]

print(middleschool['gender'].value_counts())
print(middleschool['grade'].value_counts())

middleschool.to_csv('middleschoolLearners.csv', index=False)

gender
1    258666
0    217905
Name: count, dtype: int64
grade
7    210550
8    179954
9     86067
Name: count, dtype: int64